.home {
  width: 100%;
  height: 100%;
  position: relative;
}

.transparent_play_icon {
  position: absolute;
  left: 50%;
  top: 7rem;
  transform: translateX(-50%);
  z-index: 10;
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.artist_img_container {
  border: 1px solid white;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 1024px;
  height: 100%;

  figure {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.artist_name {
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  width: 100%;
  border: 1px solid white;

  h1 {
    font-family: "Kepler 296";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(144px, 25vw, 500px);
    color: rgba(49, 49, 50, 0.3);
    mix-blend-mode: normal;
    font-family: "Kepler 296";
  }
}

.music_player__container {
  border: 1px solid white;
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 500px;
  min-height: 300px;

  @media (min-width: 1024px) {
    left: 3rem;
    transform: none;
  }
}
