.audio_progress {
  width: 100%;
  min-height: 40px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  gap: 0.5rem;

  input[type="range"] {
    --range-progress: 50%;
    position: relative;
    border: 1px solid green;
    width: 80%;
    height: 4px;

    &::before {
      // position: absolute;
      top: 0;
      left: 0;
      height: 50px;
      background: #f50;
      width: var(--range-progress);
    }
  }
}
