.audio_progress {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  gap: 0.5rem;

  input[type="range"] {
    --range-progress: 0;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    background: #eeeeee;
    width: 70%;
    height: 2px;
    border-radius: 2px;
    cursor: pointer;
  }

  /* played progress length - Chrome & safari*/
  input[type="range"]::before {
    content: "";
    height: 2px;
    background: #4b4b52;
    width: var(--range-progress);
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* slider thumb - chrome and safari */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: none;
    background-color: #4b4b52;
    cursor: pointer;
    position: relative;
  }

  /* dragging thumb - chrome and safari */
  input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4b4b52;
  }
}
