.play_pause__btn {
  margin: 0.5rem auto;
  width: 41px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (min-width: 1024px) {
    width: 80px;
    border: 3px solid #ffffff;
  }

  svg {
    fill: #ffffff;
    display: block;
    height: 50%;
    width: 50%;
  }
}
