.header {
  position: fixed;
  padding: 76px 56px;
  background: transparent;
  border: 1px solid black;
}

.search_btn {
  width: 35px;
  aspect-ratio: 1/1;
}

.hamburger {
  width: 59px;
  aspect-ratio: 1/1;
}

.search_btn > img,
.hamburger > img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
