.music_player {
  width: 100%;
  height: inherit;
}

.new_single__heading {
  font-family: "Tw Cen MT";
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;

  h2 {
    font-weight: 400;
    font-size: 64px;
    font-size: clamp(30px, 3vw, 64px);
    margin-bottom: 0.3rem;
  }

  p {
    font-weight: 400;
    font-size: clamp(13px, 2.5vw, 18px);
    letter-spacing: 0.27em;
  }
}

.track__title {
  margin-top: 0.5rem;
  text-align: center;

  p {
    font-family: "Ronet DEMO";
    font-weight: 400;
    font-size: clamp(80px, 10vw, 144px);
  }
}
