@font-face {
  font-family: "Kepler 296";
  src: url("../public/fonts/Kepler\ 296\ \(Personal\ use\).otf");
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  overflow: hidden;
  color: #fff;
}

:root {
  --sidebar-width: 92px;
}
