@font-face {
  font-family: "Kepler 296";
  src: url("/fonts/Kepler\ 296\ \(Personal\ use\).otf");
}

@font-face {
  font-family: "Tw Cen MT";
  src: url("/fonts/TwCenClassMTStd-Regular.otf");
}

@font-face {
  font-family: "Ronet DEMO";
  src: url("/fonts/Ronet\ DEMO.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  overflow: hidden;
  color: #fff;
}

:root {
  --sidebar-width: 92px;
}
